body {
  font-family: "Roboto", sans-serif;
  background-color: #1b1b1b;
  color: #f0f0f0;
}

#content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 250px;
}

#options {
  display: flex;
  flex-direction: column;
}

#single-player-div {
  margin-bottom: 10px;
}

#single-player,
#multi-player {
  margin-right: 7.5px;
  cursor: pointer;
}

#cells-container {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: repeat(3, 1fr);
  margin: 40px 0px;
}

.cell {
  height: 100px;
  width: 100px;
}

#cell-0,
#cell-3 {
  border-right: 1.5px solid #f0f0f0;
  border-bottom: 1.5px solid #f0f0f0;
}

#cell-2,
#cell-5 {
  border-left: 1.5px solid #f0f0f0;
  border-bottom: 1.5px solid #f0f0f0;
}

#cell-1 {
  border-bottom: 1.5px solid #f0f0f0;
}

#cell-6 {
  border-right: 1.5px solid #f0f0f0;
}

#cell-4 {
  border-bottom: 1.5px solid #f0f0f0;
}

#cell-8 {
  border-left: 1.5px solid #f0f0f0;
}

button {
  margin-top: 20px;
  padding: 5px;
  background-color: rgb(240, 240, 240);
  border: none;
  outline: none;
  transition-duration: 1s;
}

#start-btn:hover {
  color: rgba(240, 240, 240, 0.8);
}

h2 {
  cursor: pointer;
}

.hide {
  display: none;
}
